<!-- 
<form action="/users" accept-charset="utf-8" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username:</label>
  <input type="text" id="uname" name="user[username]"><br><br>
  <label for="email">Email:</label>
  <input type="text" id="email-in" name="user[email]"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="passwd" name="user[password]"><br><br>
  <input type="submit" value="Submit">
</form> 
-->
<!--
<%= form_for @user, url: {action: "create"} do |form| %>
  <%= form.label "Username" %>
  <%= form.text_field :username %>
  <%= form.label "Email" %>
  <%= form.email_field :email, placeholder: "example@email.com" %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.submit "Create" %>
<% end %> -->

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_with model: @user do |f| %>
  <%= f.label "Username" %>
  <%= f.text_field :username %>
  <%= f.label "E-Mail" %>
  <%= f.email_field :email, placeholder:"example@example.com" %>
  <%= f.label "Password" %>
  <%= f.password_field :password %>
  <%= f.submit "Create" %>
<% end %>